
/* ---global style settings--- */

body { 
  font-family: Arial,Helvetica,"Helvetica Neue","Open Sans",sans-serif;
  font-size: 16px;
  line-height: 1.43;
  color: #2E2E2E;
  background-color: #FDFEFE;
}

body .main-container {
  max-width: 1440px !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Arial,Helvetica,"Helvetica Neue","Open Sans",sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: #2E2E2E;
  letter-spacing: 0;
}

h1, .h1 {font-size: 32px;}
h2, .h2 {font-size: 28px;}
h3, .h3 {font-size: 24px;}
h4, .h4 {font-size: 20px;}
h5, .h5 {font-size: 16px;}
h6, .h6 {font-size: 12px;}

.ltbold {
  margin-top: 25px;
  margin-bottom: 25px;
  border: 0;
  border-top: 2px solid #BDBDBD;
}

.report-author {
  font-size: 1.1em;
  line-height: 2.2;
  font-style: italic;
}

.report-author-aff {
  font-size: 0.9em;
  margin-top: -1em;
}

.report-date {
  font-size: 0.9em;
  font-style: italic;
  margin-top: 0.5em;
}

code {
  font-family: Monaco, Courier, monospace;
}

pre {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  border-radius: 6px;
}

.sourceCode .row {
  background-color: #FDFEFE;
}

/* ---header--- */

header {
  z-index: 10;
  background: #00617F;
  height: 120px;
}

.header-link {
  float: left;
}

.header-img {
  width: auto;
  height: 120px;
  padding: 22.5px;
  padding-left: 30px;
  padding-right: 30px;
}

.header-title {
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 10px;
  line-height: 1;
  font-weight: 700;
  font-size: 1.8em;
  color: #FFFFFF;
}

.header-subtitle {
  padding-left: 30px;
  padding-top: 0;
  padding-bottom: 15px;
  line-height: 1;
  font-size: 1.5em;
  color: #FFFFFF;
}


/* ---TOC--- */

.col-xs-12, .col-sm-4, .col-md-3 {
  padding-left: 30px;
  padding-right: 40px;
}

.tocify {
  background: #E5EFF2;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 1px 7.5px #7F7F7F;
  color: #2E2E2E;
}

.list-group-item {
  background-color: #E5EFF2;
}

.list-group-item.active {
  color: #FFFFFF;
  background-color: #00617F;
}

.list-group-item:focus, .list-group-item:hover, .list-group-item.active:focus, .list-group-item.active:hover {
  color: #FFFFFF;
  background-color: #00617F;
}

/* ---code buttons---*/

/*
.btn-default {
  background-image: linear-gradient(#19708B, #0C6885 50%, #00617F);
  background-repeat: no-repeat;
  filter: none;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.btn-default:hover {
  background-image: linear-gradient(#715B72, #69526A 50%, #624963);
  background-repeat: no-repeat;
  filter: none;
  border: 2px solid #ffffff;
}

.btn-default:focus, .btn-default.focus {
    color: #ffffff;
    background-color: #ffffff;;
    border-color: #ffffff;;
}

.btn-xs, .btn-group-xs > .btn {
    font-family: "Open Sans",sans-serif,"Helvetica Neue";
    font-variant: small-caps;
    font-weight: 600;
    font-size: 16px;
    padding: 1px 12px;
    line-height: 1.75;
    border: 2px solid #ffffff;
    border-radius: 4px;
}

.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default.focus:active, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
    color: #ffffff;
    background-color: #00617F;
    border-color: #ffffff;
}

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #ffffff;
    background-color: #00617F;
    border: 2px solid #ffffff;
    border-radius: 4px;
}
*/


.btn, .btn:focus {
  font-weight: 500;
  text-shadow: none;
  background-image: none;
  background-color: #00617F;
  border: 1px solid #00617F;
  color: #FFFFFF;
}

.btn:hover, .btn:active, .btn:active:hover, .btn:active:focus,
.btn-group.pull-right.open, .btn-group.pull-right.open:hover, .btn-group.pull-right.open:focus,
.btn-group.pull-right.open:active, .btn-group.pull-right.open:active:hover, .btn-group.pull-right.open:active:focus,
.btn-default.active:hover, .open>.dropdown-toggle.btn-default:hover, .btn-default:active:focus,
.btn-default.active:focus, .open>.dropdown-toggle.btn-default:focus, .btn-default:active.focus,
.btn-default.active.focus, .open>.dropdown-toggle.btn-default.focus,
.btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
  font-weight: 600;
  background-image: none;
  background-color: #004D65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #004D65;
}

.dropdown-menu {
  background-color: #E5EFF2;
}

.dropdown-menu > li > a {
  background-color: #E5EFF2;
}

.dropdown-menu > li > a:hover {
  color: #FFFFFF;
  background-color: #00617F;
}

.dropdown-menu > li > a:active, .dropdown-menu > li > a:focus {
  color: #FFFFFF;
  background-color: #00617F;
}


/* ---links---*/

a {
  color: #9A2C57;
  font-weight: 500;
}

a:hover, a:focus {
  color: #D30F4B;
  font-weight: 500;
  text-decoration: underline;
}

/*---blockquote---*/

blockquote, .blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    color: #999999;
    border-left: 5px solid #00617F;
}
